@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
*{
  padding: 0;
  margin:0;
}

#menus {
    font-family: 'Paytone One', sans-serif;
    background-color: #B24BE2;
    height: 40px;
    width: 100%;
}

#menu-texto {
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.445);
}

@media (max-width: 1440px){
  #menu-texto{
        font-size: 18px;
  }
}

@media (max-width: 1024px){
    #menu-texto{
        font-size: 18px;
  }
}


@media (max-width: 768px){
    #menu-texto{
        font-size: 15px;
  }
}

@media (max-width: 529px){
    #menu-texto{
        font-size: 14px;
  }
}