#cor-de-fundo { 
    background-color: #ffffff;
    background-image: url("../imagens/fundo.svg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 830px;
    width: 100%;
}

